*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
/* a:hover{text-decoration: none;}
ul li{list-style: none;} */
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background-color: #746954;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 1000px;
    height: 550px;
    background: #462F2D;
    margin: auto;
}

.myName{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    line-height: 80px;
    position: relative;
    top: 185px;
    left: 15px;
}

.myPhoto{
    max-width: 350px;
    height: 550px;
    position: relative;
    top: -80px;
    left: 20px;
}

.aboutMe{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 50px;
    right: -60px;
}

.aboutMeText{
    color: #FFFFFF;
    font-size: 14px;
    max-width: 300px;
    position: relative;
    top: -430px;
    left: 680px;
    line-height: 18px;
}

.line1{
    border-top: 2px solid #FFFFFF;
    max-width: 250px;
    position: relative;
    top: -670px;
    left: 22px;
}

.line2{
    border-top: 2px solid #FFFFFF;
    max-width: 250px;
    position: relative;
    top: -490px;
    left: 22px;
}

main{
    width: 400px;
    height: 930px;
    background: #F0D58E;
    margin: 0px 0px 0px 176px;
}

.headerContacts{
    padding: 24px 205px 0px 145px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.contactsLine1{
    border-top: 2px solid #000000;
    max-width: 250px;
    position: relative;
    left: 80px;
}
.contactsLine2{
    border-top: 2px solid #000000;
    max-width: 250px;
    position: relative;
    left: 80px;
    bottom: 30px;
}

.imgPhone{
    padding: 20px 0px 0px 80px;
}

.wordPhone{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 10px 145px;
    font-weight: 600;
    position: relative;
    bottom: 35px;
}

.telephone{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 35px;
}

.intermediateLine1{
    border-top: 1px solid #000000;
    max-width: 300px;
    position: relative;
    left: 52px;
    bottom: 20px;
}

.imgMail{
    padding: 0px 0px 0px 80px;
}

.wordEmail{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 35px;
}

.mail{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 30px;
}

.intermediateLine2{
    border-top: 1px solid #000000;
    max-width: 300px;
    position: relative;
    left: 52px;
    bottom: 15px;
}

.imgVK{
    padding: 7px 0px 0px 80px;
}

.wordVK{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 32px;
}

.vk{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 25px;
}

.intermediateLine3{
    border-top: 1px solid #000000;
    max-width: 300px;
    position: relative;
    left: 52px;
    bottom: 10px;
}

.imgGitHub{
    padding: 10px 0px 0px 80px;
}

.wordGitHub{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 32px;
}

.gitHub{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 25px;
}

.intermediateLine4{
    border-top: 1px solid #000000;
    max-width: 300px;
    position: relative;
    left: 52px;
    bottom: 10px;
}

.imgTelegram{
    padding: 10px 0px 0px 80px;
}

.wordTelegram{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 32px;
}

.telegram{
    color: #000000;
    font-size: 14px;
    padding: 0px 0px 0px 145px;
    position: relative;
    bottom: 25px;
}

.headerSkills{
    padding: 24px 205px 0px 145px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.skillsLine1{
    border-top: 2px solid #000000;
    max-width: 250px;
    position: relative;
    left: 80px;
}

.skillsLine2{
    border-top: 2px solid #000000;
    max-width: 250px;
    position: relative;
    left: 80px;
    bottom: 30px;
}

.ulSkills{
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0px 0px 130px;
}

.ulSkills li{
    padding-left: 15px;
}